body {
  background-image: url(../img/background-tile.png);
}

header {
  margin: 120px 0 30px 0;
}

img {
  display: block;
  margin: auto;
}

section {
  width: 450px;
  height: 250px;
  margin: auto;
  border: 5px solid #ccc;
  border-radius: 24px;
  background-color: rgba(15, 15, 15, 0.7);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid rgba(210, 210, 210, 0.6);
  font-family: sans-serif;
  color: white;
  padding: 0 20px;
}

li:first-child {
  border-top: none;
}

.band-name {
  float: left;
}

.mentions-container {
  float: right;
}

.num-mentions {
  color: red;
}

.mention {
  font-size: 12px;
}
